# Flutter/Dart
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/

# Logs
*.log
logs/

# Unit test / Coverage reports
.coverage/
coverage/
*.lcov

# Android
*.iml
.gradle/
/local.properties
/.idea/
/.vscode/
